@font-face {
  font-family: "SeoulNamsan CM";
  src: url("../fonts/SeN-CM.woff") format("woff"),
    url("../fonts/SeN-CM.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "URW Gothic L";
  src: url("../fonts/URWGothicL-Demi.woff") format("woff"),
    url("../fonts/URWGothicL-Demi.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
