.main {
  @apply bg-gray-200;
}

h1 {
}

h2 {
}

.container {
  @apply mx-auto;
  max-width: 1480px;
  padding: 0 30px;
}

body {
  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #eaeaea;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(191, 191, 191);
    border-radius: 2px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158);
  }
}
