.main {
  @apply bg-gray-200 font-sans;
}

h1 {
}

h2 {
}

body {
  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #eaeaea;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(191, 191, 191);
    border-radius: 2px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158);
  }
}

.clue {
  &:hover {
    .clue__answer {
      @apply visible opacity-100;
    }
  }
}
