.main {
  @apply bg-gray-200;
}

h1 {
}

h2 {
}

body {
  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #eaeaea;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(191, 191, 191);
    border-radius: 2px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158);
  }
}

.dark {
  h1 {
    @apply text-white;
  }

  h2 {
    @apply text-white;
  }

  .main {
    @apply bg-gray-900;
  }

  .topbar,
  .leftbar {
    @apply bg-opacity-10 border-none;
  }
}
