.leftbar {
  @apply bg-transparent w-16 h-screen border-r-2 bg-blue-200 bg-opacity-40  border-gray-500 fixed left-0 top-0 flex flex-col z-40;
  transition: width 0.32s ease 0.12s, background-color 0.3s ease 0.3s;

  &__link {
    @apply flex items-center p-3 hover:bg-gray-200 rounded transition-colors overflow-hidden;

    &__name {
      @apply font-medium text-sm text-blue-900 absolute ml-8 opacity-0;
      transition: opacity 0.22s;
    }
  }

  &__rollup-icon {
    @apply mt-auto ml-auto mr-2;

    &__icon {
      @apply w-12 h-12 flex justify-center items-center cursor-pointer relative;
    }
  }

  &.active {
    @apply w-60 bg-white bg-opacity-100;
    transition: width 0.32s, background-color 0.3s ease 0s;

    .leftbar__rollup-icon {
      svg:first-of-type {
        @apply hidden;
      }

      svg:last-of-type {
        @apply block;
      }
    }

    .leftbar__link__name {
      @apply opacity-100;
      transition: opacity 0.22s ease 0.12s;
    }
  }
}

.topbar {
  @apply fixed top-0 left-0 w-full py-2 z-10;

  &,
  &::before,
  svg {
    @apply transition-transform duration-300;
  }

  &::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-white;
  }

  &.shrinked {
    &,
    &::before {
      @apply transform -translate-y-5;
    }

    svg {
      @apply transform scale-75;
    }
  }

  .container {
    @apply flex justify-between items-center;
  }

  ul {
    @apply flex items-center gap-5;

    li a {
      @apply font-sans;
    }

    li:first-of-type {
      @apply mr-4;
    }
  }

  // &--authenticated {
  //   @apply border-gray-500 bg-blue-200 bg-opacity-60 border-b-2;
  // }
}
