.stars {
  @apply flex flex-nowrap flex-row-reverse;
  float: left;
  height: 46px;
  padding: 0 10px;

  &:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }

  &:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;

    &.filled {
      @apply text-gray-900;
    }

    &:before {
      content: "★ ";
    }

    &:hover,
    &:hover ~ label {
      color: #deb217;
    }
  }

  & > input:checked ~ label {
    color: #ffc700;
  }

  & > input:checked + label:hover,
  & > input:checked + label:hover ~ label,
  & > input:checked ~ label:hover,
  & > input:checked ~ label:hover ~ label,
  & > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
}
